@page
@model bookingadvisor.Pages.IndexModel
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
    <header>
        <div class="head">
            <div id="authentication">
                <button>Login</button>
                <button>Register</button>
            </div>
            <h2>Top #22 Booking Site</h2>
            <div id="menu-bar">
                <h1>Booking Advisor</h1>
                <div>
                    <a href="#">Flights</a>
                    <a href="#">Hotels</a>
                    <a href="#">Packages</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div id="upper-box">
            <div>
                <form action="/" method="post">
                    <p id="save-money">Save money using our website</p>
                    <div id="user-choice">
                        <input type="text" placeholder="Where do you want to go?" />
                        <button>Find Deal</button>
                    </div>
                </form>
            </div>
            <div id="table-box">
                <div id="currency-box">
                    <h2>Currency<small> Based on 1 USD</small></h2>
                    <p>Korea Won: @Model.rate.KRW</p>
                    <p>Euro: @Model.rate.EUR</p>
                    <p>Mexico Peso: @Model.rate.MXN</p>
                    <p>Canadian Dollar: @Model.rate.CAD</p>
                    <p>British Pound: @Model.rate.GBP</p>
                    <p>India Rupee: @Model.rate.INR</p>

                    <p id="current-time">As of @DateTime.Now</p>
                </div>
                <div>
                    tabel2
                </div>
            </div>
        </div>
    </main>
</body>